.container {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 500px;
  border-radius: 10px;
}

.bottom_container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
 padding-bottom: 10px;
}
.button-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  
}

.switch-container {
  cursor: pointer;
  width: 100px;
  height: 100px;
  /* line-height: 140px; */
  text-align: center;
  background: transparent;
  border-radius: 50%;
  font-size: 80px;
  /* background-color: red; */
  transition: 0.3s;
}

.switch-container i {
  /* color: white; */
  transition: 0.3s;
  text-align: center;
  text-shadow: 5px 6px 7px rgba(0, 0, 0, 0.5);
}

.switch-container:hover {
  transform: scale(1.2);
}
#click {
  display: none;
}

#click:checked ~ .switch-container {
  box-shadow: 0 0 40px #0099ff;
  background: linear-gradient(45deg, rgb(27, 27, 27) 50%, rgb(41, 41, 41) 50%);
  transform: scale(1.1);
}

#click:checked ~ .switch-container i {
  color: skyblue;
}

/* .btn-circle {
  width: 70px;
  height: 70px;
  padding: 6px 0px;
  border-radius: 35px;
  font-size: 8px;
  border: none;
  font-size: 20px;

  box-shadow: 0px 5px 10px 0px rgba(240, 238, 238, 0.5);
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #7229d9;
  color: white;
} */

.labels {
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}
#info_boxes {
  padding: 5px;
  width: 90%;
  height: 50px;
  border-radius: 8px;
  margin: 5px;
}

#xpath_box {
  padding: 5px;
  width: 90%;
  height: 20px;
  border-radius: 8px;
  margin: 5px;
}

body {
  background-color: #1f2633;
  color: white;
}

/* switch CSS */
